body {
    align-items: center;
    align-items: stretch;
    background-color: $light;
    color: $dark;
    display: flex;
    flex-direction: column;
    font-family: $family-sans-serif;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;

    @include tablet {
        width: $containerWidth;
    }
}
main {
    background-color: $light;
    display: flex;
    display: flex;
    flex: 1;
    flex-direction: row;
    min-height: 100%;
    padding: 0 20px;
    width: 100%;
    @include tablet {
        padding: 0;
    }

    nav {
        background-color: $main2;
        padding: 20px;
        width: 200px;
        .links {
            padding-bottom: 20px;
            a {
                display: block;
            }
        }
        .projects-nav {
            border-top: solid 1px;
            padding-top: 20px;
            .projects-nav-title{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .content {
        flex: 1;
        padding: 20px;
    }
}

header {
    align-items: center;
    background: linear-gradient(90deg, $bright 0%, $bright2 100%);
    color: white;
    display: flex;
    font-size: 1.3em;
    font-weight: bold;
    height: 60px;
    padding-left: 40px;
}

footer {
    background-color: $main;
    padding: 20px;
}
