//VARS
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";

$bright: #ffcb77;
$bright2: #fe6d73;
$main: #227c9d;
$main2: #17c3b2;
$light: #fef9ef;
$dark: #323031;
$greydark: #0c1e24;
$greylight: #e2e8f0;
$greylight2: #eff2f7;
$border-radius: 5px;

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
 
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;